<div id="pin_show" class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading pin_image">
				<%=image_tag @pin.image.url()%>
			</div>
			<div class="panel-body">
				<h1>
					<%=@pin.title%>
				</h1>
				<h3>Posted in: <%=link_to @pin.board.name ,@pin.board %>
					
				</h3>
				<p>
					Tags: <%= raw @pin.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')%>
				</p>
				<p class="description">
					<%=@pin.description%>
				</p>
				<br>
				Submitted By:
				<%=link_to @pin.user.username, user_path(@pin.user.username)%>
				<br>
			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col-md-6 ">
						<div class="col-md-6 ">
							<div class="btn-group pull-right">

								<button type="btn-btn default">
									<%=link_to like_pin_path(@pin),method: :put  do%>
										<span class="glyphicon glyphicon-heart">
											<%=@pin.get_upvotes.size%>
										<%end%>
										
									</span>
	
								</button>

								<% if @pin.user==current_user %>
									<button type="btn-btn default">
										<%=link_to "Edit",edit_pin_path%>
									</button>
									<button type="btn-btn default">
											<%=link_to "Delete",pin_path, method: :delete , data: { confirm: "Are you sure?" }%>
										</button>
								<%end%>
									
								</div>
						</div>
						
					</div>
				</div>
				
			</div>
			
		</div>
	</div>

</div>



