
<div class="panel panel-default" style="margin-right: 10px; margin-left: 10px;">
  <div class="panel-body" style="text-align: center;"><h2><%=@board.name%>
	  <h4>
	    Category: <%= link_to @board.category.name, category_path(@board.category.id)%> 
	    <br><br>
	  	By: <%= link_to @board.user.username,  user_path(@board.user.username) %>
	  </h4></h2>
  </div>
  <div class="panel-footer">
		<% if @board.user==current_user %>

		<div class="row nav" style="max-height: 30px; align-items: center;">    
        <div class="col-md-4"></div>
        <div class="col-md-8 col-xs-12" style="margin: 0px;padding: 0px;">

            <div class="col-lg-4 col-xs-4 well" style="max-height: 57px; font-size: 20px;"><%=link_to "New Pin",new_pin_path %></div>
            <div class="col-lg-4 col-xs-4 well" style="max-height: 57px; font-size: 20px;">
				<%=link_to "Edit",edit_board_path(@board)%></div>
            <div class="col-lg-4 col-xs-4 well" style="max-height: 57px; font-size: 20px;"><%=link_to "Delete", @board, method: :delete , data: { confirm: "Are you sure?" }%></div>
        </div> 

		<%end%>
		</div>
</div>

<div id ="pins" class="transitions-enabled">
<% @board.pins.each do |pin|%>
<div class="box">
			<div class="panel panel-default" >
				<%= link_to (image_tag pin.image.url),pin %>
				<h2>
					<%=link_to pin.title,pin %>	</h2>

					<h5>Posted in: <%=link_to pin.board.name ,pin.board %>
					
				</h5>

				<p class="user">
					Submitted By:
					
						<%=link_to pin.user.username, user_path(pin.user.username)%>
					
				</p>
			</div>
		</div>
		<div class="panel-body">
				
		</div>

<%end%>
</div>
