<!DOCTYPE html>
<html>
<head>
  <title>PinBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default"> 
  <div class="container-fluid">
  <div class="navbar-brand">
      <%= link_to root_url do %>
       <%= image_tag "Pinterest.png" ,:size => "32x32" %>
      <% end %> 
  </div>
    <%if user_signed_in?%>
    		<ul class="nav navbar-nav navbar-right">
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> New <span class="caret"></span></a>
                   <ul class="dropdown-menu">
                    <li><%=link_to "New Pin",new_pin_path %></li>
                    <li><%=link_to "New Board",new_board_path %></li>
                  
                  </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> User <span class="caret"></span></a>
                   <ul class="dropdown-menu">
                   <li><%=link_to "Edit Account",edit_user_registration_path %></li>
                   <li><%=link_to "Sign Out",destroy_user_session_path, method: :delete%></li>
                  </ul>
              </li>		
        			
    		</ul>
  	<% else %>
      		<ul class="nav navbar-nav navbar-right">
      			<li><button  class="btn btn-link"><span class="glyphicon glyphicon-user"></span><%=link_to " Sign Up",new_user_registration_path %></button></li>

      			<li><button  class="btn btn-link"><span class="glyphicon glyphicon-log-in"></span><%=link_to " Log In",new_user_session_path%></button></li>
      		</ul>
  	<%end%>
  </div>
</nav>

<div class="container-fluid">
    <% flash.each do |name,msg| %>
       <%= content_tag :div, msg, class: "alert alert-info" %>
   <%end%>

</div>



<%= yield %>

</body>
</html>
